<footer>
  <div class="footer">
    <p>copyright tipsy&co</p>   
    <p>2019 & beyond</p>
    <br/>
  </div>
</footer>
<script src="js/front.js"></script>
<script src="js/slider.js"></script>
</body>
</html>