<footer>
  <div class="footer">
     <div class="footer-links">
       <div class="footer-link">
        <a href="contact">Contact Us</a>
       </div>
       <div class="footer-link">
        <a href="story">Our Story</a>
       </div>
       <div class="footer-link">
        <a href="/#services">Services</a>
       </div>
     </div>
     <div class="footer-links">
       <div class="footer-link">
        <a href="#"><img  alt="twitter logo" src="/svg/twitter.svg" weight="40" height="40" ></a>
       </div>
       <div class="footer-link">
        <a href="#"><img  alt="instagram logo" src="/svg/instagram.svg" weight="40" height="40" ></a>
       </div>
       <div class="footer-link">
        <a href="#"><img  alt="facebook logo" src="/svg/facebook.svg" weight="40" height="40" ></a>
       </div>
     </div>
  </div>
  <p>copyright tipsy & co 2019 & beyond</p>  
</footer>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      offset:200,
      duration:800
    });
  </script>
<script src="js/front.js"></script>
<script src="js/slider.js"></script>
</body>
</html>