<section>
    <div class="contact-form index">
      <div class="logo">            
              <img alt="logo" src="/img/tipsylogo.png">             
      </div>
      <h1>Keep in touch</h1>
      <p>sign up for our newsletter and get exclusive offers!</p>
      <div class="form" >
      <form action="/signups" method="POST">
      <input type="text" id="email" name="email" placeholder="E-Mail Address">        
      <input id='submit'  type="submit" value="Holla!">
      </form>            
      </div>
    </div>  
    <div class="subtext">
        <p>
          we respect your privacy
        </p>
    </div>
  </section>