<nav class="navbar">
  <div>
      <a href="/" id="logo"><img alt="logo" src="/img/tipsylogo.png"></a> 
  </div>
  <div class="nav-links">
    <a href="contact">Contact Us</a>
    <a href="story">Why Us</a>
    <a href="services">Services</a>
    <a href="logout">Logout</a>
  </div>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>