<% include partials/header %>
<header class="client-list">
  <% include partials/nav %>
  <% job.forEach(function(job){ %>
    <div class="jsquare">
        <h2><%=job.name%></h2>
        <h4><%=job.option%></h4>            
        <p>
          <btn class="btnbtn"><a href="/clients/<%=job._id%>">More Info</a></btn>
        </p>    
      </div>
 <% });%>  
</header>
<% include partials/footer %>