<% include partials/header %>
<header class="header con">
  <% include partials/nav %>
  <div class="contact"> 
    <div class="contact-form">
      
      <h1>
        Book Now!
      </h1>
      <p>
         Not sure where to start?
         We're here to help!
      </p>
      <%- messages() %>
    <div class="form" >
      <form action="/clients" method="POST">
        <input type="text" name="name" id="name" placeholder="Name First/Last">
        <input type="text" id="email" name="email" placeholder="E-Mail Address">
        <label for="start">Event Date:</label>
        <input type="date" id="start" name="eventdate"
        min="2020-01-01" max="2021-01-01">
        <!---<input type="number" name="drinkers" id="drinkers" placeholder="Drinkers" min="30" max="150" step="10">-->
        <textarea name="description" placeholder="Questions?"></textarea>
        <input id='submit' type="submit" value="Let's Talk">
      </form>      
    </div>
    </div>
    </div>
    <div class="spacer"></div> 
</header>
<% include partials/footer %>
