<% include partials/header %>
  <header class="header">
   <% include partials/nav %>
   <div class="hero-text-box">
      <h2>Bringing the bar experience to you</h2>
      <div class="float">
          <btn class="btn"><a href="contact">Book now</a></btn>
      </div>
      
    
  </div>
  </header>
  <section class="pevents">
    <div class="title">
      <h1>Past<br/>Events</h1>  
    </div>
    <div class="paragraph">
      <p>
        Non laboris elit adipisicing cupidatat cillum ut. Fugiat ut aliqua laboris non sint sunt est commodo ullamco qui dolore minim elit. 
      </p>
    </div>
    <div class="grid-container">
      <div class="gone"></div>
      <div class="gtwo"></div>
      <div class="gthree"></div>
      <div class="gfour"></div>
      <div class="gfive"></div>
      <div class="gsix"></div>
      <div class="gseven"></div>
    </div>
    
  </section>
  <section class="howedo">
    <div class="title">
      <h1>The<br/>Experience </h1>
    </div>    
    
    <div class="banner b2">
      <div class="paragraph">
        <p>
          Eiusmod eu nostrud culpa et sit ut consectetur. Proident elit eu reprehenderit incididunt ut ipsum aliquip esse ex aliqua voluptate adipisicing amet. 
        </p>
      </div>
    </div>
    <div class="subtitle">
      <h2>The Valleys Premier <br/> Bartending Service</h2>
    </div>
    <div class="paragraph">
      <p>
          In cillum consectetur voluptate et mollit dolor est reprehenderit incid cillum. Aliquip proident Lorem tempor consequat consectetur.
      </p>
    </div>
    <div class="paragraph">
        <p>
          Officia eiusmod ullamco minim veniam qui minim id veniam. Sint aliquip esse exercitation dolore sint quis anim ad nisi. Lorem Lorem incididunt eu qui eiusmod laborum sit non laborum aliquip tempor id sint. 
        </p>
    </div>
    
    <div class="test">
      <p>
        "OMG everything couldnt have gone more smoothly, the service and the drinks were just splendid. if your looking for you and your guests to have a great time, I definetaly recommend hiring the tipsy bar!."
      </p>
      <h2>
        Suzy Q
      </h2>
    </div>   
    <div class="spacer"></div> 
  </section>
  <section class="final cut">
    <div class="banner b3">
      <div class="btext">
        <p>
          Find out why we are the valleys best bartending service.
        </p>
      </div>      
    </div>
    <div class="float">
        <div class="divide-box"><btn class="btn web"><a href="contact">Talk to Us!</a></btn></div>
    </div> 
    <div class="divide-box">
        <h3><a href="#">any questions?</a></h3>
    </div>   
    <div class="db2">
      <a href="#"><img class="svg" src="/svg/twitter.svg" ></a>
      <a href="#"><img class="svg" src="/svg/instagram.svg" ></a>
      <a href="#"><img class="svg" src="/svg/facebook.svg" ></a>
    </div>
    <div class="spacer"></div>    
  </section>
  <section >
    <div class="contact-form index">
      <h1>Keep in touch</h1>
      <p>sign up for our newsletter and get exclusive offers!</p>
      <div class="form" >
      <form action="/signups" method="POST">
      <input type="text" id="email" name="email" placeholder="E-Mail Address">        
      <input id='submit'  type="submit" value="Holla!">
      </form>            
      </div>
    </div>  
    <div class="subtext">
        <p>
          we respect your privacy
        </p>
    </div>
  </section>
<% include partials/footer %>