<% include partials/header %>
  <header class="header">
  <% include partials/nav %>
  <div class="hero-text-box">
      <h1>Bringing the bar<br/>experience to you!</h1> 
  </div>
  </header>
  <section class="video">
    <div class="gone">
          <video src="/video/TipsyBar2019.mp4" class="gone" muted autoplay ></video>
        </div>    
  </section>
  <section class="slidesection">
    <div class="paint">
      <h2>Past Events</h2>
      <div class="paragraph">
        <p>We are great at what we do because we cater to the unique needs of all our clients. Because when you are  planning an event or a party we know that anything can happen, which is why Tipsy Bar is ready for anything, making  every moment with us a memorable experience. </p>
      </div>    
    </div>
    <div class="g-container">
      <div class="gpic"></div>
      <div class="gpic-two"></div>
    </div>
    <div class="slide-container-container">
      <div class="buttons">
      <div class="bbtn" id="prev">
        <img src="/svg/ionicons-arrow-dropleft.svg" alt="left arrow" height="36" width="36">
      </div>
      <div class="bbtn" id="next">
        <img src="/svg/ionicons-arrow-dropright.svg" alt="right arrow" height="36" width="36">
      </div>
    </div>
    <div class="slide-container">
      <div class="slide current"></div>
      <div class="slide"></div>
      <div class="slide"></div>
    </div>
    </div>
  </section>
  <section class="pevents" id="services">    
    <div class="paragraph-container pc-events">
      <div class="title">
        <h2>Services</h2>  
      </div>
      <div class="paragraph">
        <p>
          Every night with Tipsy Bar is a memory because we love what we do.<br>
          Accomidations and more service details can be provided upon request.
        </p>
      </div>
      <!--<div class="float">
        <btn class="btn"><a href="contact">Book now</a></btn>
      </div>-->
    </div>   
    <div class="grid-container">     
      <div class="gfive">
        <div class="side2side">
          <div class="test test-two">
            <div>
              <h2>Open Bar/Hosted Bar</h2>
              <p>beverages are paid by client hosting event and are free for guests.</p>
            </div>
            <h3>What We Provide</h3>
            <hr>
            <ul class='list'>                
                <li>portable bar</li>
                <li>two bar enders</li>
                <li>cusotm cocktail menu with choice of drinks</li>
                <li>misc. bar supplies, blender, straws, napkins, garnishes shot cups.</li>
                
            </ul>
            <h3>whats needed from you</h3>
            <hr>
            <ul class="list">
              <li>host is providing alcohol</li>  
              <li>juice mixers</li>  
              <li>cups</li>   
              <li>ice</li>  
              <li>non-alcoholic</li> 
            </ul> 
              <p>
                depending on number of guests tipsy bar wil send you a shoppinglist of what is needed and a rough estimate of how much should be needed.
              </p>              
              <div class="bar"><a href="contact">Book Now!</a></div>
          </div> 
      </div>
    </div>
      <div class="gsix">
        <div class="gsix-container">
          <h3>About This Service</h3>
          <hr>          
          <ul>
            <li>
              <img src="/svg/ios-paper.svg" class="svg" alt="drinking glass">
              <p>Tipsy Bar will send a list of what is needed from you and provide a rough estimate of how much is needed depending on # of guests.</p>
            </li>
            <li><img src="/svg/md-time.svg" class="svg" alt="drinking glass"><p>Minimun 4hrs service</p> </li>
            <li><img src="/svg/md-map.svg" class="svg" alt="drinking glass"><p>Serving: Los Angeles & San Fernando Valley</p></li>
            <li><img src="/svg/md-woman.svg" class="svg" alt="drinking glass"><p>Services for 30-200 guests.</p></li>            
          </ul>
        </div>
      </div>
      <div class="gseven">
        <div class="gsix-container">
          <h3>About The Drinks</h3>
          <hr>
          <ul>
            <li><img src="/svg/cocktail.svg" class="svg" alt="drinking glass"><p> types of alcohol served: tequila, whiskey, wine, etc.</p></li>            
            <li><img src="/svg/md-ribbon.svg" class="svg" alt="drinking glass"><p>Serving only the finest spirits.</p></li>
            <li><img src="/svg/md-menu.svg" class="svg" alt="drinking glass"><p>Drink Menu Provided upon request.</p></li>
          </ul>
        </div>
      </div>
    </div>
    
  </section>
  <section class="howedo">
    <div class="paint">
      <div class="subtitle">
        <h3>Bartending Services <br/>For every Occasion</h3>
      </div>
      <div class="paragraph">
        <p>
          Tipsy Bar is about more than just the drinks. From our excellent drink selection to our amazing staff, nothing is more important to us than bringing the vibe. 
        </p>
      </div>
      <div class="paragraph">
          <p>
            Every experience with us is one of a kind. We are always happy to work with our customers and make their experience as pleasent as possible. See what our previous customers are saying.
          </p>
      </div>      
      <div class="testtwo">
        <p>
          "OMG everything couldnt have gone more smoothly, the service and the drinks were just splendid. if your looking for you and your guests to have a great time, I definately recommend hiring the tipsy bar!"
        </p>
        <h4>
          Suzy Q
        </h4>
      </div>   
      <div class="float">
        <div class="divide-box"><div class="btn web"><a href="contact">Contact Us</a></div></div>
    </div>
      
    </div>
    <div class="banner b2">
      <div class="paragraph-container pc-2">
        <div class="title">
          <h2>The<br/>Experience </h2>
        </div>    
        <div class="paragraph">
          <p>
            Every night is a special night when Tipsy Bar pours it up. Our amazing staff are always ready to keep the drinks flowing and  the good vibes going. Check us out and see why everybody loves us so much.
          </p>
        </div>
        <div class="btn web">
          <a href="story">More About Us</a>
        </div>
      </div>   
    </div>
    
    
  </section>
  <section class="final cut">
    <!--<div class="banner b3">
      <div class="btext">
        <p>
          Find out why we are the valleys best bartending service.
        </p>
      </div>      
    </div>-->
    
    <div class="divide-boxtwo">
      <p>
        Find out why we are the valleys best bartending service.
      </p>
        <h3><a href="#">any questions?</a></h3>
    </div>   
    <div class="db2">
      <a href="#"><img class="svg" alt="twitter logo" src="/svg/twitter.svg" ></a>
      <a href="#"><img class="svg" alt="instagram logo" src="/svg/instagram.svg" ></a>
      <a href="#"><img class="svg" alt="facebook logo" src="/svg/facebook.svg" ></a>
    </div>
      
  </section>
<% include partials/form %>
<% include partials/footer %>