<% include partials/header%>
<header class="header login">
  <% include partials/nav %>
  <h1>Login</h1>
  <div class="form" >
    <form action="/login" method="POST">
      <input type="text" name="username"  placeholder="Name First/Last">
      <input type="password" name="password" placeholder="password">   
      <input id='submit'  type="submit" value="Let's Talk">
    </form>
</header>
<% include partials/footer %>