<% include partials/header %>
<header class="header">
  <% include partials/nav %>
  <div class="hero-text-box story">
    <h2>Our Services</h2>
    <h4>We have options<br/> for every ocassion. </h4>
    <div class="float">
      <btn class="btn"><a href="contact">Book now!</a></btn>    
    </div>            
  </div>
</header>
<section class="howedo">
  <div class="title">
    <h1>Service<br/>Options</h1>
  </div>
  
  <div class="paragraph">
    <p>
      Eiusmod eu nostrud culpa et sit ut consectetur. Proident elit eu reprehenderit incididunt ut ipsum aliquip esse ex aliqua voluptate adipisicing amet. 
    </p>
  </div>
  <div class="banner b2">

  </div>
  <div class="subtitle">
    <h2>Bartending Services <br/>For Any Event </h2>
  </div>
  <div class="paragraph inline">
    <p>
        In cillum consectetur voluptate et mollit dolor est reprehenderit incid cillum. Aliquip proident Lorem tempor consequat.
    </p>
  </div>
  <!--<div class="spacer-two"></div> -->
  
  <div class="test test-two">
    <ul>
      <h1>Cash Bar</h1>
      <li><p>Proident sint nisi esse consectetur nostrud enim sunt eiusmod proident.Amet cillum nulla ullamco dolore.Officia mollit cillum ad mollit ea id adipisicing nulla eiusmod nulla nisi.</p></li>
    </ul>
    <ul class='list'>
        <h2>Service options</h2>
        <li><p>Proident sint </p></li>
        <li><p>Excepteur est proident </p></li>
        <li><p>Proident et laborum </p></li>
        <li><p>Sit enim </p></li>
      </ul>
      <div class="bar"><a href="contact">Contact</a></div>
  </div>     
  <div class="test test-two-one">
      <ul>
        <h1>Open Bar</h1>
        <li><p>Proident sint nisi esse consectetur nostrud enim sunt eiusmod proident.Amet cillum nulla ullamco dolore.Officia mollit cillum ad mollit ea id adipisicing nulla eiusmod nulla nisi.</p></li>
      </ul>
      <ul class='list'>
          <h2>Service options</h2>
          <li><p>Proident sint </p></li>
          <li><p>Excepteur est proident </p></li>
          <li><p>Proident et laborum </p></li>
          <li><p>Sit enim </p></li>
      </ul>      
      <div class="bar"><a href="contact">Contact</a></div>
    </div>   
    <div class="paragraph">
        <p>
          Eiusmod eu nostrud culpa et sit ut consectetur. Proident elit eu reprehenderit incididunt ut ipsum aliquip esse ex aliqua voluptate adipisicing amet. 
        </p>
      </div>
      <div class="float">
          <div class="dbthree"><btn class="btn web"><a href="contact">Talk to Us!</a></btn></div>
      </div> 
      <div class="banner b4">
          <div class="btext">
            <p>
              Find out why we are the valleys best bartending service.
            </p>
          </div>      
        </div> 
</section>
<% include partials/form %>
<% include partials/footer %>