<% include partials/header %>
<header class="header">
  <% include partials/nav %>
  <div class="hero-text-box story">
    <h1>Leave the Party</br>to Us!</h1>
   <!-- <p>We have options<br/> for every ocassion. </p>-->
    <div class="float">
      <btn class="btn"><a href="contact">Book now!</a></btn>    
    </div>            
  </div>
</header>
<section class="howedo">
  <div class="paragraph-container">
    <div class="title">
      <h2>Service<br/>Options</h2>
    </div>  
    <div class="paragraph">
      <p>
          Eiusmod eu nostrud culpa et sit ut consectetur. Proident elit eu enderit incididunt ut ipsum aliquip esse ex aliqua voluptate adipisicing amet. Minim pariatur nulla ea sint commodo dolor aliquip ut culpa nisi nisi duis ad deserunt.
      </p>
    </div>
  </div>
 
  <div class="banner b5"></div>
 
  
  <!--<div class="spacer-two"></div> -->
  <div class="side2side">
    <div class="test test-two">
      <ul>
        <h2>Cash Bar</h2>
        <li><p>Proident sint nisi esse consectetur nostrud enim sunt eiusmod proident.Amet cillum nulla ullamco dolore.Officia mollit cillum ad mollit ea id adipisicing nulla eiusmod nulla nisi.</p></li>
      </ul>
      <ul class='list'>
          <h3>Service options</h3>
          <li><p>Proident sint </p></li>
          <li><p>Excepteur est proident </p></li>
          <li><p>Proident et laborum </p></li>
          <li><p>Sit enim </p></li>
        </ul>
        <div class="bar"><a href="contact">Book Now!</a></div>
    </div>     
    <div class="test test-two-one">
        <ul>
          <h2>Open Bar</h2>
          <li><p>Proident sint nisi esse consectetur nostrud enim sunt eiusmod proident.Amet cillum nulla ullamco dolore.Officia mollit cillum ad mollit ea id adipisicing nulla eiusmod nulla nisi.</p></li>
        </ul>
        <ul class='list'>
            <h3>Service options</h3>
            <li><p>Proident sint </p></li>
            <li><p>Excepteur est proident </p></li>
            <li><p>Proident et laborum </p></li>
            <li><p>Sit enim </p></li>
        </ul>      
        <div class="bar"><a href="contact">Book Now!</a></div>
    </div>   
  </div>   
    <div class="paint">
      <div class="subtitle">
              <h3>Bartending Services <br/>For Any Event </h3>
      </div>
      <div class="paragraph">
        <p>
           In cillum consectetur voluptate et mollit dolor est reprehenderit incid cillum. Aliquip proident Lorem tempor consequat.
        </p>
      </div>         
      <div class="paragraph">       
        <p>
            Eiusmod eu nostrud culpa et sit ut consectetur. Proident elit eu reprehenderit incididunt ut ipsum aliquip esse ex aliqua voluptate adipisicing amet. 
        </p>
      </div>
      <div class="float">
            <div class="dbthree"><btn class="btn web"><a href="contact">Talk to Us!</a></btn></div>
      </div>
      </div> 
      <div class="banner b4">
          <div class="btext">
            <p>
              Find out why we are the valleys best bartending service.
            </p>
          </div>      
      </div>
</section>
<% include partials/form %>
<% include partials/footer %>