<% include partials/header %>
  <div class="header">
    <% include partials/nav %>
  <div class="square">
    <h1><%=jobs.name%></h1>
    <h3><%=jobs.email%></h3>
    <p><%=jobs.option%></p>
    &mdash;
    <p><%=jobs.description%></p>
  </div>
  </div>
<% include partials/footer %>
