<% include partials/header %>
  <header class="header two">
      <% include partials/nav %>
        <div class="hero-text-box story">
            <h1>Our Story Begins <br> With Our Clients</h1>
            <div class="float">
              <btn class="btn"><a href="contact">Book now!</a></btn>    
            </div>
                    
        </div>
  </header>
  <section class="pc-mission">
    <div class="paragraph-container ">
      <div class="title">
        <h2>Our Mission</h2>
      </div>
      <div class="paragraph">
        <p>
            Elit adipisicing enim ea laboris est Lorem ullamco. Exercitation velit labore incididunt aliqua labore in. Est commodo do consectetur ad. 
        </p>
      </div>
    </div>   
    <div class="banner">

    </div>
    <div class="paragraph">
        <p>
          In exercitation id sunt enim duis occaecat ea do minim aliqua excepteur qui enim Lorem. Amet sint dolore do duis occaecat veniam officia commodo eiusmod laboris ex.
        </p>
      </div>
      <div class="paragraph">
          <p>
            Elit adipisicing enim ea laboris est Lorem ullamco. Exercitation velit labore incididunt aliqua labore in. 
          </p>
        </div>
      <div class="divide-boxtwo ques">
        <h3><a href="#">any questions?</a></h3>
      </div>
  </section>
  <section class="pevents">
    <div class="title">
     
    </div>
    <div class="gone sone">
      <div class="paragraph">
          <h2>The<br/>Culture</h2>
        <p>
          Non laboris elit adipisicing cupid cillum ut. Fugiat ut aliqua laboris non sint sunt est commodo. Consectetur amet enim tempor elit enim excepteur.
        </p>
      </div>
    </div>
    <div class="grid-container numtwo">
      
      <div class="gtwo stwo"></div>
      <div class="gthree sthree"></div>
      <div class="gfour sfour"></div>
    </div>
    <div class="paragraph">
      <p>
        Elit adipisicing enim ea laboris est Lorem ullamco. Exercitation velit labore incididunt aliqua labore in. Est commodo do consectetur ad. <br/> 
      </p>
    </div>
    <div class="float">
      <div class="dbthree"><btn class="btn web"><a href="contact">Talk to Us!</a></btn></div>
  </div>
  
  </section>
  <% include partials/form %>
  <% include partials/footer %>
