<% include partials/header %>
<header class="header">
  <% include partials/nav %>
</header>
<section class="howedo">
  <div class="title">
    <h1>Service<br>Options</h1>
  </div>
  
  <div class="paragraph">
    <p>
      Eiusmod eu nostrud culpa et sit ut consectetur. Proident elit eu reprehenderit incididunt ut ipsum aliquip esse ex aliqua voluptate adipisicing amet. 
    </p>
  </div>
  <div class="banner b2">

  </div>
  <div class="subtitle">
    <h2>Bartending Services <br>For Any Event </h2>
  </div>
  <div class="paragraph">
    <p>
        In cillum consectetur voluptate et mollit dolor est reprehenderit incid cillum. Aliquip proident Lorem tempor consequat consectetur incididunt sint aliquip quis. Lorem ametelit ex.
    </p>
  </div>
  <div class="paragraph">
      <p>
        Officia eiusmod ullamco minim veniam qui minim id veniam. Sint aliquip esse exercitation dolore sint quis anim ad nisi. Lorem Lorem incididunt eu qui eiusmod laborum sit non laborum aliquip tempor id sint. Velit veniam exercitation aute in. Voluptate cupidatat labore eu officia Lorem ut.
      </p>
  </div>
  
  <div class="test test-two">
    <ul>
      <h1>Cash Bar</h1>
      <li><p>Proident sint nisi esse consectetur nostrud enim sunt eiusmod proident.Amet cillum nulla ullamco dolore.Officia mollit cillum ad mollit ea id adipisicing nulla eiusmod nulla nisi.</p></li>
    </ul>
    <ul>
        <h2>Service options</h2>
        <li><p>Proident sint </p></li>
        <li><p>Excepteur est proident </p></li>
        <li><p>Proident et laborum </p></li>
        <li><p>Sit enim </p></li>
      </ul>    
  </div>   
  <div class="spacer-two"></div>
  <div class="test test-two-one">
      <ul>
        <h1>Open Bar</h1>
        <li><p>Proident sint nisi esse consectetur nostrud enim sunt eiusmod proident.Amet cillum nulla ullamco dolore.Officia mollit cillum ad mollit ea id adipisicing nulla eiusmod nulla nisi.</p></li>
      </ul>
      <ul>
          <h2>Service options</h2>
          <li><p>Proident sint </p></li>
          <li><p>Excepteur est proident </p></li>
          <li><p>Proident et laborum </p></li>
          <li><p>Sit enim </p></li>
        </ul>      
    </div>   
    <div class="paragraph">
        <p>
          Eiusmod eu nostrud culpa et sit ut consectetur. Proident elit eu reprehenderit incididunt ut ipsum aliquip esse ex aliqua voluptate adipisicing amet. 
        </p>
      </div>
      <div class="float">
          <div class="divide-box dbthree"><btn class="btn web"><a href="contact">Talk to Us!</a></btn></div>
      </div> 
      <div class="banner b4">
          <div class="btext">
            <h3>
              Find out why we are the valleys best bartending service.
            </h3>
          </div>      
        </div>
  <div class="spacer"></div> 
</section>
<section>
  <div class="contact-form index">
    <h1>Keep in touch</h1>
    <p>sign up for our newsletter and get exclusive offers!</p>
    <div class="form">
    <form action="/signups" method="POST">
    <input type="text" id="email" name="email" placeholder="E-Mail Address">        
    <input id="submit" type="submit" value="Holla!">
    </form>            
    </div>
  </div>  
  <div class="subtext">
      <p>
        we respect your privacy
      </p>
  </div>
</section>
<% include partials/footer %>