<% include partials/header %>
<header class="header">
    <% include partials/nav %>
  <div class="thanks">
    <h1>
      Thank You, 
    </h1>
      <h2>
        we will get in touch with you shortly.
      </h2>
  </div>
  
  
</header>

<% include partials/footer %>

